In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
market_index = pd.read_csv('wig.csv', parse_dates=['Data'], usecols=['Data', 'Zamkniecie', 'Wolumen'])

In [67]:
market_date_range = pd.DataFrame({'Data': pd.date_range(start='4/16/1991', end='7/18/2019', freq='D')})
temp_market = pd.merge(market_date_range, market_index, on='Data', how='left')
temp_market.fillna(method='ffill', inplace=True)

In [68]:
periods = [14, 26, 100, 200]
for period in periods:    
    temp_market[f'mean_{period}'] = temp_market['Zamkniecie'].rolling(period).mean()
    temp_market[f'diff_{period}'] = temp_market['Zamkniecie'] - temp_market[f'mean_{period}']

In [70]:
temp_market['Zmiana'] =

,Data,Zamkniecie,Wolumen,mean_14,diff_14,mean_26,diff_26,mean_100,diff_100,mean_200,diff_200
0,1991-04-16,1000.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991-04-17,1000.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1991-04-18,1000.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1991-04-19,1000.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991-04-20,1000.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN