In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
market_index = pd.read_csv('wig.csv')

In [23]:
periods = [14, 26, 100, 200]
for period in periods:    
    market_index[f'mean_{period}'] = market_index['Zamkniecie'].rolling(period).mean()
    market_index[f'diff_{period}'] = market_index['Zamkniecie'] - market_index[f'mean_{period}']

In [21]:
fig, aplt.subplots(4, 4)

,Data,Otwarcie,Najwyzszy,Najnizszy,Zamkniecie,Wolumen,mean_14,mean_26,mean_200
0,1991-04-16,1000.0,1000.0,1000.0,1000.0,325.0,NaN,NaN,NaN
1,1991-04-23,967.7,967.7,967.7,967.7,5905.0,NaN,NaN,NaN
2,1991-04-30,945.6,945.6,945.6,945.6,7162.0,NaN,NaN,NaN
3,1991-05-14,939.6,939.6,939.6,939.6,18300.0,NaN,NaN,NaN
4,1991-05-21,966.1,966.1,966.1,966.1,14750.0,NaN,NaN,NaN
5,1991-05-28,956.5,956.5,956.5,956.5,31440.0,NaN,NaN,NaN
6,1991-06-04,969.4,969.4,969.4,969.4,12396.0,NaN,NaN,NaN
7,1991-06-11,960.4,960.4,960.4,960.4,26247.0,NaN,NaN,NaN
8,1991-06-18,866.8,866.8,866.8,866.8,33496.0,NaN,NaN,NaN
9,1991-06-25,850.2,850.2,850.2,850.2,25264.0,NaN,NaN,NaN
10,1991-07-02,891.2,891.2,891.2,891.2,31913.0,NaN,NaN,NaN
11,1991-07-09,866.6,866.6,866.6,866.6,36743.0,NaN,NaN,NaN
12,1991-07-16,834.4,834.4,834.4,834.4,42664.0,NaN,NaN,NaN
13,1991-07-23,853.4,853.4,853.4,853.4,48483.0,919.135714,NaN,NaN
14,1991-07-30,825.1,825.1,825.1,825.1,33559.0,906.642857,NaN,NaN
15,1991-08-06,794.2,794.2,794.2,794.2,46771.0,894.250000,NaN,NaN
16,1991-08-13,771.6,771.6,771.6,771.6,26415.0,881.821429,NaN,NaN
17,1991-08-20,756.9,756.9,756.9,756.9,30497.0,868.771429,NaN,NaN
18,1991-08-27,739.7,739.7,739.7,739.7,37740.0,852.600000,NaN,NaN
19,1991-09-03,725.8,725.8,725.8,725.8,36796.0,836.121429,NaN,NaN